.Log {
  form {
    display: flex;
    flex-flow: column;
    width: 100%;

  }

  input, select {
    &:focus {
      //outline-color: #1a73e8;
      outline: none;
      //border-color: #1a73e8 !important;
    }
  }

  fieldset {
    margin: 0 2px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    //padding: 1rem;
    padding: 24px 22px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    //transition: 0.15s linear;

    input[type="radio"] {
      display: none;
      &:checked {
        + label {
          background-color: #bad5f8;
          //color: white;
          color: #0843d8;
          transition: 0.2s linear;

          > span {
            display: block;
          }
        }
      }

      &:hover {
        &:not(:checked) {
          + label {
            background-color: #e4eefc;
          }
        }

        &:checked {
          + label {
            //background-color: #1b66ca;
          }
        }
      }
    }

    > label {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      padding: 9px 16px;
      background-color: white;
      color: #212121;
      border: 1px solid #616161;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      flex-grow: 1;
      column-gap: 8px;
      transition: 0.2s linear;

      > span {
        display: none;
      }

      &:nth-child(2) {
        border-radius: 20px 0 0 20px;
        //padding-left: 16px;
        border-right: none;
      }

      &:nth-child(6) {
        border-radius: 0 20px 20px 0;
        //padding-right: 16px;
        border-left: none;
      }

      .radio_icon {
        font-size: 20px;
        font-variation-settings:
            'wght' 600;

        &.transfer {
          transform: rotate(90deg);
        }
      }
    }
  }

  .datetime {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e0e0e0;
    padding: 16px 24px;

    input[type="time"], input[type="date"] {
      //padding: 8px;
      padding: 11px 15px;
      margin: 0;
      height: 28px;
      border: 1.5px solid #dadce0;
      border-radius: 4px;
      width: 118px;
      text-align: center;
      font: 400 16px "Roboto", sans-serif;
      color: #212121;
      background-color: white;
      -webkit-appearance: none;   /* Hide arrow in date/time input on Android */
    }

    /*
    input[type="date"] {

      background: url("data:image/svg+xml,<svg height='48px' width='48px' viewBox='0 0 48 48' fill='%23212121' xmlns='hjttp://www.w3.org/2000/svg'><path d='M 9.00,44.00 C 8.20,44.00 7.50,43.70 6.90,43.10 6.30,42.50 6.00,41.80 6.00,41.00 6.00,41.00 6.00,10.00 6.00,10.00 6.00,9.20 6.30,8.50 6.90,7.90 7.50,7.30 8.20,7.00 9.00,7.00 9.00,7.00 12.25,7.00 12.25,7.00 12.25,7.00 12.25,5.55 12.25,5.55 12.25,5.12 12.40,4.75 12.71,4.45 13.02,4.15 13.40,4.00 13.85,4.00 14.32,4.00 14.71,4.15 15.03,4.46 15.34,4.77 15.50,5.15 15.50,5.60 15.50,5.60 15.50,7.00 15.50,7.00 15.50,7.00 32.50,7.00 32.50,7.00 32.50,7.00 32.50,5.55 32.50,5.55 32.50,5.12 32.65,4.75 32.96,4.45 33.27,4.15 33.65,4.00 34.10,4.00 34.57,4.00 34.96,4.15 35.28,4.46 35.59,4.77 35.75,5.15 35.75,5.60 35.75,5.60 35.75,7.00 35.75,7.00 35.75,7.00 39.00,7.00 39.00,7.00 39.80,7.00 40.50,7.30 41.10,7.90 41.70,8.50 42.00,9.20 42.00,10.00 42.00,10.00 42.00,41.00 42.00,41.00 42.00,41.80 41.70,42.50 41.10,43.10 40.50,43.70 39.80,44.00 39.00,44.00 39.00,44.00 9.00,44.00 9.00,44.00 Z M 9.00,41.00 C 9.00,41.00 39.00,41.00 39.00,41.00 39.00,41.00 39.00,19.50 39.00,19.50 39.00,19.50 9.00,19.50 9.00,19.50 9.00,19.50 9.00,41.00 9.00,41.00 Z M 9.00,16.50 C 9.00,16.50 39.00,16.50 39.00,16.50 39.00,16.50 39.00,10.00 39.00,10.00 39.00,10.00 9.00,10.00 9.00,10.00 9.00,10.00 9.00,16.50 9.00,16.50 Z M 9.00,16.50 C 9.00,16.50 9.00,10.00 9.00,10.00 9.00,10.00 9.00,16.50 9.00,16.50 Z'/></svg>") no-repeat;
      background-position: calc(100% - 0.75rem) center !important;
      -moz-appearance:none !important;
      -webkit-appearance: none !important;
      appearance: none !important;
      padding-right: 2rem !important;
    }
    */
  }

  .transaction {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font: 400 16px "Roboto", sans-serif;
    color: #212121;

    border-bottom: 1px solid #e0e0e0;
    padding: 16px 24px;

    /*
    .source, .destination {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      row-gap: 2px;
    }
    */

    select {
      //padding: 8px;
      padding: 11px 15px;
      border: 1.5px solid #dadce0;
      border-radius: 4px;
      background-color: white;
      margin: 0;
      font: inherit;
      height: 53px;
      color: #212121;
      width: 100%;

      background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
      background-position: calc(100% - 0.75rem) center !important;
      -moz-appearance:none !important;
      -webkit-appearance: none !important;
      appearance: none !important;
      padding-right: 2rem !important;
    }

    .transaction_icon {
      font-variation-settings:
          'wght' 600;
      color: #212121;
      padding: 12px;
    }
  }

  .amount {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    row-gap: 8px;

    border-bottom: 1px solid #e0e0e0;
    padding: 16px 24px;

    .custom {
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      justify-content: space-between;
      font: 400 16px "Roboto", sans-serif;
      line-height: 24px;
      column-gap: 6px;
      //flex-grow: 1;
      width: 100%;

      input, select {
        padding: 11px 15px;
        //border: 1px solid rgb(118, 118, 118);
        border: 1.5px solid #dadce0;
        border-radius: 4px;
        background-color: white;
        //margin: 1px 1px 0 1px;
        margin: 0;
        font: inherit;
        color: #212121;
      }

      input {
        height: 28px;
        flex-grow: 1;
      }

      select {
        background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
        background-position: calc(100% - 0.75rem) center !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
        padding-right: 2rem !important;

        height: 53px;
        width: 86px;
        //background-color: #eeeeee;
      }

      /*
      > label {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        input, select {
          font-size: 20px;
        }
      }
      */
    }

      label {
        font: 500 18px "Roboto", sans-serif;
        //line-height: 24px;
        line-height: 18px;
        color: #212121;
      }

    .preset {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      column-gap: 6px;
      min-width: 357px;
      overflow-x: auto;

      button {
        //font-size: 14px;
        //font-weight: bold;
        font: 400 14px "Roboto", sans-serif;
        border-radius: 16px;
        padding: 6px 12px;
        line-height: 1.25rem;
        //height: 28px;
        //width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        min-width: 38px;
        //background-color: rgb(239, 239, 239);
        background-color: #eeeeee;
        color: #212121;

        &:focus {
          background-color: #bad5f8;
          color: #0843d8;
          font-weight: 500;
        }
      }
    }
  }

  .comment {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    //font-size: 16px;
    font: 400 16px "Roboto", sans-serif;
    position: relative;

    //border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    margin: 16px 24px 8px;

    input[type="text"] {
      //padding: 8px;
      padding: 11px 15px;
      //margin: 1px 1px 0 1px;
      margin: 0;
      height: 28px;
      //border: 1px solid rgb(118, 118, 118);
      border: 1.5px solid #dadce0;
      border-radius: 4px;
      //width: 100%;
      flex-grow: 1;
      background-color: white;
      line-height: 24px;
      color: #202124;
      cursor: text;
      font: inherit;

      &:focus {
        border-color: #1a73e8;

        + label {
          color: #1a73e8;
          //font-weight: 500;
        }
      }

      &:focus + label, &:not(:placeholder-shown) + label {
        transform: scale(0.75) translateY(-37px);
      }
    }

    label {
      background-color: white;
      border-radius: 4px;
      left: 8px;
      bottom: 17px;
      color: #5f6368;
      padding: 0 8px;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
      transform-origin: bottom left;
      pointer-events: none;
      position: absolute;
    }
  }

  button[type="submit"] {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    //font-size: 18px;
    line-height: 24px;
    font: 500 18px "Roboto", sans-serif;
    //padding: 16px 12px;
    //padding: 1rem 0.75rem;
    padding: 16px 20px;
    //margin: 18px;
    margin: 8px 24px 16px 24px;
    //background-color: #1a73e8;
    //color: white;
    background-color: #bad5f8;
    color: #0843d8;
    border: none;
    //border-radius: 28px;
    border-radius: 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease-in-out;

    .material-symbols-rounded {
      font-size: 24px;
      font-variation-settings: "wght" 400;
    }

    &:hover {
      //background-color: #1b66ca;
      background-color: #8db9f4;
      transition: opacity 15ms ease-in-out, background-color 15ms ease-in-out;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

    &:active {
      //--mdc-ripple-fg-size: 47px;
      //--mdc-ripple-fg-scale: 2.06324;
      //--mdc-ripple-fg-translate-start: -13.3281px, 9.51563px;
      //--mdc-ripple-fg-translate-end: 16.0859px, -5.5px;
      //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      ////#202124
      //will-change: transform, opacity;
      //background-color: #1c5fba;
      //background-color: #8db9f4;
      transform: scale(0.98);
    }
  }
}