.Log {
  form {
    display: flex;
    flex-flow: column;
  }

  input[type="radio"] {
    display: none;
    &:checked {
      + label {
        background-color: #1a73e8;
        color: white;
      }
    }
  }

  fieldset {
    border: none;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    > label {
      font-size: 16px;
      font-weight: bold;
      padding: 12.5px 12px;
      background-color: white;
      color: #1a73e8;
      border: 2px solid #1a73e8;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      flex-grow: 1;

      &:nth-child(2) {
        border-radius: 16px 0 0 16px;
        padding-left: 16px;
        border-right: none;
      }

      &:nth-child(6) {
        border-radius: 0 16px 16px 0;
        padding-right: 16px;
        border-left: none;
      }
    }
  }

  input[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 12px;
    margin: 18px;
    background-color: #1a73e8;
    color: white;
    border: 2px solid #1a73e8;
    border-radius: 32px;
  }
}