.Log {
  form {
    display: flex;
    flex-flow: column;


  }

  input[type="radio"] {
    display: none;
    &:checked {
      + label {
        background-color: #1a73e8;
        color: white;
      }
    }

    &:hover {
      &:not(:checked) {
        + label {
          background-color: #c6dcf9;
        }
      }

      &:checked {
        + label {
          background-color: #1b66ca;
        }
      }
    }
  }

  fieldset {
    border: none;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    > label {
      font-size: 16px;
      font-weight: bold;
      padding: 12.5px 12px;
      background-color: white;
      color: #1a73e8;
      border: 2px solid #1a73e8;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row;
      flex-grow: 1;

      &:nth-child(2) {
        border-radius: 16px 0 0 16px;
        padding-left: 16px;
        border-right: none;
      }

      &:nth-child(6) {
        border-radius: 0 16px 16px 0;
        padding-right: 16px;
        border-left: none;
      }

      .radio_icon {
        font-size: 1rem;
        font-variation-settings:
            'wght' 600;

        &.transfer {
          transform: rotate(90deg);
        }
      }
    }
  }

  .datetime {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .transaction {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;

    .source, .destination {
      > label {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
      }
    }

    .transaction_icon {
      font-variation-settings:
          'wght' 600;
      color: #202124;
    }
  }

  .amount {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;

    > label {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      input, select {
        font-size: 20px;
      }
    }
  }


  input[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 12px;
    margin: 18px;
    background-color: #1a73e8;
    color: white;
    border: 2px solid #1a73e8;
    border-radius: 32px;

    &:hover {
      background-color: #1b66ca;
      transition: opacity 15ms linear, background-color 15ms linear;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

    &:focus {
      //--mdc-ripple-fg-size: 47px;
      //--mdc-ripple-fg-scale: 2.06324;
      //--mdc-ripple-fg-translate-start: -13.3281px, 9.51563px;
      //--mdc-ripple-fg-translate-end: 16.0859px, -5.5px;
      //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      ////#202124
      //will-change: transform, opacity;
      background-color: #1c5fba;
    }
  }
}