.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
  //background-color: white;
  background-color: #e4eefc;
  //padding-bottom: 24px;
  position: fixed;
  bottom: 0;
  //height: 48px;
  width: 100%;
  //border-top: 1px solid rgba(0, 0, 0, 0.0975);
  height: 80px;
  z-index: 1;

  :not(.active) > button:hover::before {
    //transition: all 0.25s ease-out;
    //background-color: transparent;
    //animation: background-empty 0.25s;
    //animation-timing-function: ease;
    content: '';
    height: 32px;
    width: 64px;
    position: absolute;
    background-color: red;
    border-radius: 16px;
    top: 13px;
    //z-index: -2;
    /*background-size: 100% 100%;*/


    animation: background-fill-hover 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .material-symbols-rounded {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    font-size: 24px;
    padding: 4px 20px;
    margin-bottom: 8px;
    height: 24px;
    z-index: 2;
    /*
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    */
    //transition: 0.2s ease-in-out;

    /*
    position: relative;
    background: linear-gradient(#cddbec, #cddbec) no-repeat 50% 50%;  //darker
    background-size: 0 100%;
    transition: background-size 0.25s cubic-bezier(0,.9,.7,1), color 0.25s cubic-bezier(0,.9,.7,1);
    */
  }


  @keyframes background-fill {
    0% {
      transform: scaleX(0); //used to start from 0.5, now starts from 0 like proper
    }
    100% {
      transform: scaleX(1);
    }
  }

  /*
  @keyframes background-empty {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.5);
    }
  }
  */

  @keyframes background-opacity-fill {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes background-fill-hover {
    0% {
      transform: scaleX(0);
      opacity: 0;
      //background-color: rgba(186, 213, 248, 0.4);
      background: linear-gradient(#cddbec, #cddbec);  //darker
      //background-color: #D4E2F3;  //lighter
      //background-color: #D1DEF0;
    }
    100% {
      transform: scaleX(1);
      opacity: 1;
      //background-color: rgba(186, 213, 248, 0.4);
      background: linear-gradient(#cddbec, #cddbec);  //darker
      //background-color: #D4E2F3;  //lighter
      //background-color: #D1DEF0;

    }
  }

  @keyframes bottom-up {
    0% {
      top: 8px;
      transform: scaleY(0);
    }
    100% {
      top: 0;
      transform: scaleY(1);
    }
  }

  @keyframes left-right {
    0% {
      right: 8px;
      transform: scaleX(0);
    }
    100% {
      right: 0;
      transform: scaleX(1);
    }
  }

  @keyframes expand {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  /*
  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  */

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  .active {
    * {
      color: #0843d8;
      //font-weight: 700;
    }

    button {
      position: relative;

      &:not(span) {
        font-weight: 900;
        //transition: 0.25s linear;
      }

      .icon-label {
        transition: 0.25s ease;
      }
    }

    .icon-background {
      height: 32px;
      width: 64px;
      position: absolute;
      background-color: #bad5f8;
      border-radius: 16px;
      top: 13px;

      //transition: all 0.25s ease-out;
      animation: background-fill 0.25s, background-opacity-fill 0.25s;
      animation-timing-function: ease, ease;
    }

    .material-symbols-rounded {
      font-variation-settings:
              "wght" 400,
              "FILL" 1;
      //font-weight: 500;
      //animation: icon-background 0.2s;
      //animation-timing-function: ease-out;

      transition: 0.25s ease;
    }

    /*
    button > .log::after {
      content: '';
      position: absolute;
      top: 18.5px;
      left: 42px;
      background-color: #bad5f8;
      //background: red;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      z-index: 3;
      animation: shrink 0.25s;
      animation-timing-function: ease;
      transform: scale(0);
    }
    */

    .log, .settings {
      position: relative;
      animation: expand 0.25s;
      animation-timing-function: ease;
    }

    .transactions {
      position: relative;
      animation: left-right 0.25s;
      animation-timing-function: ease;
    }

    .stats {
      position: relative;
      animation: bottom-up 0.25s;
      animation-timing-function: ease;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: transparent;
    border: none;
    //border-color: #282c34;
    cursor: pointer;
    //height: 48px;
    //padding: 12px 24px;
    width: 100%;
    height: 100%;
    //font-weight: normal;
    font: 500 12px "Roboto", sans-serif;
    //color: #333333;
    color: #212121;
    border-radius: 6px;
    //padding: 4px 12px 12px;

    &:not(span) {
      //transition: 0.25s ease-in-out;
    }
  }
}
