.Snackbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #212121;
  color: #fafafa;
  z-index: 3;
  border-radius: 4px;
  font: 400 16px "Roboto", sans-serif;
  line-height: 24px;
  margin: 24px 18px;
  padding: 6px 6px 6px 16px;
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
  animation: snackbar-move 0.5s, snackbar-opacity 0.5s, snackbar-disappear 0.5s ease 10s forwards, snackbar-fade 0.5s ease 10s forwards;
  animation-timing-function: ease, ease;

  /*
  @keyframes slide-bottom-up {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 80px;
    }
  }
  */

  @keyframes snackbar-move {
    0% {
      bottom: 56px;
      transform: scaleY(0);
    }
    100% {
      bottom: 80px;
      transform: scaleY(1);
    }
  }

  @keyframes snackbar-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes snackbar-disappear {
    to {
      bottom: 56px;
      transform: scaleY(0);
    }
  }

  @keyframes snackbar-fade {
    to {
      opacity: 0;
    }
  }

  > div {
    display: flex;
    flex-grow: 1;
  }

  .material-symbols-rounded {
    font-variation-settings:
            "FILL" 1,
            "wght" 400;
    margin-right: 8px;
    font-size: 24px;
  }

  .success {
    color: #34a853;
  }

  .warning {
    color: #fbbc05;
  }

  .error {
    color: #ea4335;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    //color: #1a73e8;
    //color: #fbbc05;
    line-height: 24px;
    border-radius: 18px;
    padding: 6px 12px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: #424242;
    }

    &:active {
      background-color: #616161;
    }
  }
}
